#################################################
# Unity Project (inside APD/)
#################################################

# Generated folders
/APD/[Ll]ibrary/
/APD/[Tt]emp/
/APD/[Oo]bj/
/APD/[Bb]uild/
/APD/[Bb]uilds/
/APD/[Ll]ogs/
/APD/[Uu]ser[Ss]ettings/

# Memory Captures
/APD/[Mm]emoryCaptures/
/APD/[Rr]ecordings/

# Addressables
/APD/ServerData
/APD/[Aa]ssets/StreamingAssets/aa*
/APD/[Aa]ssets/AddressableAssetsData/link.xml*
/APD/[Aa]ssets/Addressables_Temp*
/APD/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting generated
/APD/[Aa]ssets/Unity.VisualScripting.Generated/

#################################################
# Solution / IDE files (repo level)
#################################################

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

# Gradle
.gradle/

# Linux builds
*.x86
*.x86_64

# Mac
.DS_Store

#################################################
# Build artifacts
#################################################

*.apk
*.aab
*.app
*.unitypackage

#################################################
# Crash
#################################################

sysinfo.txt
mono_crash.*
crashlytics-build.properties